page-receipt {
  .scroll-content {
    background-color: color($colors, primary);
  }

  p {
    color: #ffffff;
    font-weight: bold;
  }

  ion-content .button {
    width: 70%;
    margin-top: 15px;
  }

  ion-content .centerreceipt {
    text-align: center;
  }

  .qrcode img {
    width: 90%;
  }
}
