page-home {
  .scroll-content {
    background-color: color($colors, primary);
  }

  button {
    width: 70%;
  }

  * {
    text-align: center;
  }

  .logo {
    margin-top: 70px;
  }

  h1 {
    margin: 0 0 50px 0;
  }
}
