page-scanprompt {

  .customIcon {
    font-size: 2em;
  }

  .customBack {
    margin-left: 5px;
  }

  .scroll-content {
    background-color: color($colors, primary);
  }

  .amount {
    background-color: color($colors, primary);
    color: #ffffff;
  }

  ion-content .button {
    width: 70%;
    margin-top: 30px;
  }

  ion-content {
    text-align: center;
  }

}
