page-menu {
  button {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 35px;
    color: #ffffff;
  }

  .scan {
    width: 100%;
    height: 33.3vh;
    background-color: color($colors, primary);
    border-radius: 0;
  }

  .stats {
    width: 100%;
    height: 33.3vh;
    background-color: color($colors, secondary);
    border-radius: 0;
  }

  .discon {
    width: 100%;
    height: 33.3vh;
    background-color: color($colors, danger);
    border-radius: 0;
  }
}
